/* Global resets */
* {box-sizing: border-box; margin: 0; padding: 0;}
body {font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif; color: #424242; line-height: 1.4;}

/* Fonts */
h1 {
    font-family: "rooney-web", 'AmericanTypewriter', Rockwell, serif;
    font-size: 2.5em;
    font-weight: bold;
}

.container {
    margin: 2em auto;
    max-width: 630px;
    text-align: center;
}

/* COLORS: 
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS goes here */
html {
    -webkit-font-smoothing: antialiased;
}
.pledge-box {

    width:303px;
    margin:0 auto;
    padding:15px 20px;
}
.progress {
    border:1px solid #e5e4e2;
    margin-top:8px;
    padding:0;
    background:#fff;
    height:13px;
    position: relative;
}
.progress-bar {
    cursor: pointer;
    vertical-align:top;
    width:75%;
    height:100%;
    padding:0;
    background:#EF5F3C;

    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar h3 {
    display: none;
    position: absolute;
    background:#424242;
    color:#fff;
    font-weight:400;
    font-size:14px;
    padding:12px;
    border-radius:3px;
    text-shadow: 0 0 1px #777;
    top: -55px;
    width: 100%;
}
.progress-bar h3:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 75%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-top: solid 7px #424242;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
}
.progress-bar h3 strong {
    font-weight:700;
}
.progress-bar:hover h3 {
    display: block;
}
.inside-box {
    /* height:200px; */
    border:1px solid #e5e4e2;
    border-top:none;
    padding:12px 18px;
}
.paragraph strong {
    color:#ef5f3c;
}
.paragraph em {
    color:#424242;
    font-style:normal;
    font-weight:bold;
}
.paragraph {
    padding:0 2px;
    font-size:12px;
    color:#777;
    text-align:left;
}
.join {
    margin-top:15px;
}
.btn-container {
    margin-top:15px;
}
.btn-container button {
    width:47%;
    padding:12px;
}
input.dollars {
    background:#FFFFFF url(http://www.planetaguma.com/icons/dollar-icon-20x20.png) no-repeat 4px 13px;
    background-size: 15px auto;
    padding: 10px 20px;
    text-align:left;
    font-family:"Hevetica Neue", Arial;
    color:#777;
    border:1px solid #e5e4e2;
    border-radius:4px;
    width:45%;
    margin-right:5%;
    height: 45px;
}
button.givenow {
    cursor: pointer;
    background:#1CBC2C;
    color:#fff;
    font-weight:300;
    border-radius:4px;
    box-shadow: inset 0 -1px 0 1px #0bab1b;
}
a.whygive {
    color:#20A1D4;
    text-decoration:none;
    font-size:12px;
    font-style:italic;
    text-align:left;
    width:100%;
    display:inline-block;
    margin-left:2px;
    margin-top:7px;
    padding-bottom:6px;
}
button.savelater, button.tellfriends {
    font-family:"Hevetica Neue", Arial;
    color:#777;
    border:1px solid #e5e4e2;
    border-color:#e9e9e9 #e9e9e9 #e5e4e2 #e5e4e2;
    border-bottom:2px solid #e5e4e2;
    border-radius:4px;
    padding:9px 0;
    font-size:12px;
    font-weight:bold;
    width:124px;
}
button.savelater {
    margin-right:13px;
    margin-left:1px;
}


/* reset button browser styles */
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}